.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  background-color: #fff;
}
.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 80px;
  min-height: 720px;
  height: 100vh;
  position: relative;
}

.header__title {
  font-family: "Noto Serif", serif;
  color: #2f80ed;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  margin: 183px 0 0;
  max-width: 709px;
}

.header__span-accent {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #000;
}

.header__description {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  max-width: 683px;
}

.header__image {
  position: absolute;
  bottom: 0;
  right: 30px;
  max-width: 636px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  font-weight: 500;
  font-size: 16px;
  color: #838383;
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #2f80ed;
}
.recipes {
  background-color: #0a2850;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  color: #fff;
  padding: 100px 80px;
}

.recipes__title {
  font-size: 44px;
  margin-bottom: 24px;
}

.recipes__description {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  max-width: 580px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__caption {
  font-size: 20px;
  font-weight: 500;
  margin-top: 24px;
}
.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  padding: 100px 80px;
  text-align: center;
}

.reservation__title {
  font-size: 44px;
  margin-bottom: 80px;
}
.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form__label {
  font-weight: 500;
}

.form__input {
  font-size: 20px;
  padding: 12px;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__button {
  background-color: #2f80ed;
  color: #fff;
  border: none;
  padding: 20px;
  cursor: pointer;
}
.footer {
  background-color: #0a2850;
  color: #fff;
  padding: 60px 0;
}

.footer__logo {
  width: 105px;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
}

.footer__copyright {
  margin-top: 128px;
}
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/nav.css");
@import url("../blocks/recipes.css");
@import url("../blocks/reservation.css");
@import url("../blocks/form.css");
@import url("../blocks/footer.css");
